<% temp_hdr = JSON.parse(user_info) %>
<div>
  <h3>Signal Strength: <%= signal.sig_str %></h3>
  <h3>Survey Submitted at: <%= signal.created_at %></h3>
  <h3>Submitted by IMSI: <%= temp_hdr["IMSI"] %></h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <% JSON.parse(user_info).each do |item| %>
      <tr>
        <td><%= item[0] %></td>
        <td><%= item[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
