<div>
  <h3>Cell ID: <%= tower.cell_id %></h3>
  <h3>BTC Cell ID: <%= tower.btc_cell_id %></h3>
  <h3>Site Name: <%= tower.site %> - <%= tower.site_name %> </h3>
  <h3>Location Type: <%= tower.location_type %></h3>
</div>
